
# Base URL for Galleries API
#   Use just '/api' when using vite proxy server in development,
#   and the full URL when running in production
VITE_GL_API_BASE_URL=http://localhost:8080/api

# Base URL for 'estatico' content server
VITE_ESTATICO_BASE_URL=http://localhost:8880
